<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PharmacyRegister</servlet-name>
        <servlet-class>Controller.PharmacyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>Controller.ViewCustomer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PharmacyRegister</servlet-name>
        <url-pattern>/PharmacyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PharmacyRegister</servlet-name>
        <url-pattern>/PharmacyRegister</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
    30
</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PharmacyRegister.jsp</welcome-file>
    </welcome-file-list>
</web-app>
